<budget-header></budget-header>
<budget-header></budget-header>
<budget-header></budget-header>

<!-- {{ accounts$ | async | json }} -->

<h2 [ngStyle]="{ color: currentBudget > 0 ? 'green' : 'red' }">
  Current budget: {{ currentBudget$ | async }}
</h2>

<button type="button" class="btn btn-primary" tooltip="das" (click)="toggle()">
  Toggle
</button>
{{ accounts$ ? "" : "No accounts" }}

{{ accountSumFilter | json }}

<div>
  <input
    type="number"
    class="form-control"
    placeholder="Sum"
    [formControl]="accountSumFilter"
  />
</div>

<div *ngIf="accounts$ | async as accounts">
  <budget-account-list
    *ngIf="hideIncome"
    [accounts]="accounts"
    [currentSum]="accountSumFilter.value"
    [title]="title"
    (updatedAccount)="showUpdateMessage($event)"
  ></budget-account-list>
</div>

<h1>{{ getError$ | async }}</h1>

<div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome user!</div>
  <div *ngSwitchCase="'Admin'">Welcome admin!</div>
  <div *ngSwitchDefault>Who are you?</div>
</div>

<p *ngIf="message">{{ message }}</p>

<div>
  <!-- <input type="text"> -->
  <!-- <button type="button" (click)="addAccount()">Add new account</button> -->
  <button type="button" (click)="editAccount()">Edit account</button>
  <button type="button" (click)="deleteAccount()">
    Delete account with id 0
  </button>
  <button type="button" routerLink="add">Add account</button>
</div>
<h2>Total bytes loaded: {{ totalBytes }}</h2>
<router-outlet></router-outlet>
