<budget-header></budget-header>
<budget-header></budget-header>
<budget-header></budget-header>
<h2 [ngStyle]="{ color: currentBudget > 0 ? 'green' : 'red' }">
  Current budget: {{ currentBudget | currency }}
</h2>

<button type="button" class="btn btn-primary" tooltip="das" (click)="toggle()">
  Toggle
</button>
<budget-account-list
  *ngIf="hideIncome"
  [accounts]="accounts"
  [title]="title"
  (updatedAccount)="showUpdateMessage($event)"
></budget-account-list>

{{ accounts.length === 0 ? "No accounts" : "" }}

<div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome user!</div>
  <div *ngSwitchCase="'Admin'">Welcome admin!</div>
  <div *ngSwitchDefault>Who are you?</div>
</div>

<p *ngIf="message">{{ message }}</p>

<div>
  <!-- <input type="text"> -->
  <button type="button" (click)="addAccount()">Add new account</button>
  <button type="button" (click)="editAccount()">Edit account</button>
  <button type="button" (click)="deleteAccount()">Delete account with id 0</button>
</div>
