<p>forecast works!</p>
{{ forecastForm.value | json }}
{{ forecastForm.pristine }}
{{ forecastForm.dirty }}

<div>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="addCurrentSum()"
  >
    Add current sum
  </button>
</div>
<div>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="deleteCurrentSum()"
  >
    Delete current sum
  </button>
</div>
{{ forecastForm.invalid }}
<form
  class="example-form"
  [formGroup]="forecastForm"
  (ngSubmit)="addForecast()"
>
  <mat-form-field
    *ngIf="forecastForm.get('currentSum')"
    class="example-full-width"
  >
  <mat-label>Current Sum</mat-label>
    <input
      type="number"
      matInput
      formControlName="currentSum"
      placeholder="Current Sum"
    />
  </mat-form-field>
  <mat-form-field
    *ngIf="forecastForm.get('accountId')"
    class="example-full-width"
  >
  <mat-label>Account Id</mat-label>
    <input
      type="number"
      matInput
      formControlName="accountId"
      placeholder="Account Id"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Forecast Id</mat-label>
    <input
      type="text"
      matInput
      formControlName="forecastId"
      placeholder="Forecast Id"
    />
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Forecast Sum</mat-label>
    <input
      type="number"
      matInput
      formControlName="forecastedSum"
      placeholder="Forecasted Sum"
      required="true"
    />
    <mat-error *ngIf="forecastForm.get('forecastedSum')?.hasError('min')">
      Please enter a number greater than 1
    </mat-error>
    <mat-error *ngIf="forecastForm.get('forecastedSum')?.hasError('invalidForecastedSum')">
      Forecasted sum should be greater than current sum.
    </mat-error>
    <!-- <mat-error *ngIf="forecastForm.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Target date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="targetDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <!-- You can have only one formGroup on the page to refer to the nested forms create div and use formGroupName -->
  <div formGroupName="nestedForm">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Nested Form </mat-panel-title>
          <mat-panel-description> Fill the nested form </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
          <mat-label>Nested field</mat-label>
          <input
            type="text"
            matInput
            formControlName="nestedField"
            placeholder="Nested field"
          />
          <mat-error
            *ngIf="
              forecastForm.get('nestedForm.nestedField')?.hasError('required')
            "
          >
            This field is required
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <div>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="addTask()"
      >
        Add task
      </button>
    </div>
    <div formArrayName="tasks">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Tasks </mat-panel-title>
            <mat-panel-description> Fill the tasks </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let task of tasks.controls; let i = index">
            <div [formGroupName]="i">
              Guest {{ i + 1 }}
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  formControlName="definition"
                  placeholder="Definition"
                />
                <mat-error
                  *ngIf="
                    forecastForm
                      .get(['tasks', i, 'definition'])
                      ?.hasError('required')
                  "
                >
                  This field is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  formControlName="priority"
                  placeholder="Priority"
                />
              </mat-form-field>
            </div>
            <div>
              <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="removeTask(i)"
              >
                Remove task
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div>
    <mat-checkbox class="example-margin" formControlName="termsAndConditions"
      >Accept terms and conditions</mat-checkbox
    >
  </div>
  <div>
    <button [disabled]="forecastForm.invalid" mat-raised-button color="primary">
      Add forecast
    </button>
  </div>
</form>
